body {
    background-color: #d7fef9; 
}
h1 {
text-align: center;
text-transform: uppercase;
color: darkcyan;
}
h2 {
    color: #06b29c;
    text-transform: uppercase;
}
hr {
    color: #06b29c;
}
h5 {
    color: #098b72;
}